
    html {
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }


body {
    margin: 0;
    padding: 0;
}

:root {
    --code-font: 'Pragmata Pro Mono', 'Pragmata Pro', Consolas, Monaco, monospaced;
    --text-font: InterUI, -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, sans-serif;
}

body,
textarea {
    font-family: var(--text-font);
}

.page {
    padding: 20px;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 15px;
    grid-template-areas: 'header header' 'square-tl square-tr' 'square-bl square-br' 'footer footer';
}


.square {
    box-sizing: border-box;
}

.square_tl {
    grid-area: square-tl;
}
.square_tr {
    grid-area: square-tr;
    margin-right: 10px;
}
.square_bl {
    grid-area: square-bl;
}
.square_br {
    grid-area: square-br;
    margin-right: 10px;
}

.square__header {
    margin: 0 0 .5em;
    padding: 0;
}

.square__text {
    box-sizing: border-box;
    /*width: 97%;*/
    background: #ccc;
    position: relative;
    margin-bottom: 20px;
    font-size: 18px;
}

.em {
    font-style: normal;
}

.em_positive {
    color: green;
}

.em_negative {
    color: red;
}

.CodeMirror {
    border: 1px solid #CCC;
    padding: 1px;
    font-family: var(--code-font);
}

.CodeMirror-focused {
    border: 2px solid #999;
    padding: 0;
    transition: border-color .3s;
}

.footer {
    grid-area: footer;
    padding: 0 10px 20px 0;
}

.vim-mode {
    float: right;
}

.howto {
    margin-left: 50px;
}

.saving {
    border-color: gold;
}

.page-header {
    font-size: 24px;
    grid-area: header;
    display: flex;
    margin-bottom: 20px;
    margin-right: 10px;
}

.header-text-label {
    margin-right: .4em;
    padding: 5px 0;
}

.header-text {
    width: 100%;
    font-size: 24px;
    font-family: var(--code-font);
    font-weight: bold;
    padding: 5px 10px;
}

@media only screen and (max-width: 800px) {
    .page {
        display: block;
        height: auto;
    }

    .page-header {
        display: block;
    }

    .header-text {
        display: block;
        padding-left: 0;
    }

    .square {
        padding-bottom: 20px;
    }

    .footer {
        position: static;
    }

    .about-link {
        display: block;
    }

    .vim-mode {
        display: none;
    }

    .howto {
        display: block;
        margin-left: 0;
        padding: .4em 0;
    }
}